@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&family=Play:wght@700&family=Source+Sans+Pro&display=swap');

header {
    background-color: royalblue;
    border-radius: 10px;
    text-align: center;
}
h1 {
    font-family: 'Play', sans-serif;
    padding: 15px;
    font-size: 2em;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px;
    background-color: royalblue;
    border-bottom: 2px solid black;
    margin-top: 0;
    font-size: 1.75em;
}
main h2 {
    font-size: 1.5em;
}
a {
    display: block;
    margin: 10px;
}
main {
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
}
p, a, h3 {
    font-size: 1.25em;
}
p {
    padding: 5px;
    text-align: left;
}
main img {
    max-width: 100%;
}
.tab1, .tab2, .tab3 {
    border: 2px solid black;
    margin: .5em;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
}
main a {
    display: inline;
}
footer, footer p {
    background-color: royalblue;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}