@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu+Condensed&display=swap');

body {
    width: 100%;
    background-color: #ffe8d686;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #9c9c85;
}

.header-top, footer {
    display: flex;
    justify-items: center;
    background-color: #FFE8D6;
}

.header-top nav {
    width: 100%;
    margin: auto;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}

.header-top nav ul {
    display: flex;
}

.header-top nav ul li {
    list-style-type: none;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.header-top nav ul li a {
    text-decoration: none;
    color: #9c9c85;
}

.header-top img, footer .footer1 img {
    width: 125px;
    height: auto;
}

.header-top img, .header-top a {
    margin-top: auto;
    margin-bottom: auto;
}

.drink-hero {
    position: relative;
}

.drink-hero h1 {
    max-width: 200px;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 25px;
    padding: .75rem;
    border: 1px solid #A5A58D;
    border-radius: 5px 15px;
    background-color: #FFE8D6;
    color: #9c9c85;
    font-weight: bold;
}

.drink-hero img {
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 25% 0;
}

.drink-hero a {
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 1px solid #A5A58D;
    border-radius: 15px 0px;
    background-color: #FFE8D6;
    color: #A5A58D;
    padding: .75rem;
    font-weight: bold;
}

.drink-hero a:hover {
    background-color: #DDBEA9;
}

header, nav, main, footer {
    margin: 0 auto;
}

.business-info, .city-spotlight, .weather-tab {
    margin: .5rem;
    padding: .5rem;
    border: 2px solid #A5A58D;
    background-color: #FFE8D6;
}

.business-info h2, .city-spotlight h2, .weather-tab h2, footer {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
    color: #9c9c85;
}

footer {
    display: block;
    text-align: center;
    padding: .25rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

footer div.footer-top {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #9c9c85;
}

.footer2 {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
}

.footer2 img {
    width: 50px;
}