@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu+Condensed&display=swap');

body {
    width: 100%;
    background-color: #ffe8d686;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #9c9c85;
}

.header-top, footer {
    display: flex;
    justify-items: center;
    background-color: #FFE8D6;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-top nav {
    width: 100%;
    margin: auto;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
}

.header-top nav ul {
    display: flex;
}

.header-top nav ul li {
    list-style-type: none;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.header-top nav ul li a {
    text-decoration: none;
    color: #9c9c85;
}

.header-top nav ul li a:hover {
    color: #DDBEA9;
}

.header-top img, footer .footer1 img {
    width: 125px;
    height: auto;
}

.header-top img, .header-top a {
    margin-top: auto;
    margin-bottom: auto;
}

.drink-hero {
    position: relative;
}

.drink-hero h1 {
    max-width: 200px;
    max-height: 100px;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: .75rem;
    border: 3px solid #A5A58D;
    border-radius: 5px 15px;
    background-color: #FFE8D6;
    color: #9c9c85;
    font-weight: bold;
    white-space: pre-line;
}

.drink-hero img {
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 25% 0;
}

.drink-hero a {
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 3px solid #A5A58D;
    border-radius: 15px 0px;
    background-color: #FFE8D6;
    color: #A5A58D;
    padding: .75rem;
    font-weight: bold;
}

.drink-hero a:hover {
    background-color: #DDBEA9;
}

header, nav, main, footer {
    margin: 0 auto;
}

.business-info, .city-spotlight, .weather-tab {
    margin: .5rem;
    padding: .5rem;
    border: 2px solid #A5A58D;
    background-color: #FFE8D6;
}

.business-info h2, .city-spotlight h2, .weather-tab h2, footer {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.25rem;
    color: #9c9c85;
}

.business-info h2 {
    text-align: center;
}

.business-info div h2 {
    text-align: left;
}

.city-spotlight p {
    white-space: pre-line;
}

.weather-tab, .weather-tab h2, .city-spotlight h2 {
    text-align: center;
}

.weather-tab img {
    width: 30%;
}

.weather-tab figure {
    text-align: center;
    margin: 1rem;
}

.weather-tab figure div p {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.weather-tab figure div {
    display: flex;
    justify-content: space-around;
}
.wind-tab {
    display: flex;
    justify-content: space-around;
}

.temp-forecast {
    border-top: 2px solid #9c9c85;
}

.temp-forecast div {
    display: flex;
    justify-content: space-around;
}

footer {
    display: block;
    text-align: center;
    padding: .25rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

footer div.footer-top {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #9c9c85;
}

.footer2 {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
}

.footer2 img {
    width: 50px;
}

/* -----About Us----- */

main .about-us {
    border: 2px solid #9c9c85;
    margin: 2rem;
    padding: 2rem;
    font-size: 1.25rem;
    white-space: pre-line;
}

.about-us h1, .map h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', sans-serif;
}

.about-us-header {
    border-top: 2px solid #9c9c85;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.map h2 {
    border-top: none;
    text-align: left;
}

.map {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-around;
}

.map p {
    font-size: 1.25rem;
}

.map .maps-display {
    text-align: center;
    padding: 2rem;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* -----Fresh Drinks----- */

main fieldset {
    margin: 2rem auto;
}

main form h1 {
    text-align: center;
}

fieldset {
    border: 2px solid #9c9c85;
    margin: 1rem;
    padding: 1rem;
    background-color: #FFE8D6;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

label, textarea, select {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0rem;
    padding: 1rem;
    padding-left: 0;
}

input {
    width: 75%;
    height: auto;
    padding: 1rem;
}

form label input:required {
    border-right: 5px solid red;
}

form label input:required:valid {
    border-right: 5px solid rgb(13, 243, 13);
}

.instructions {
    margin: 1rem;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

main .submitBtn {
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
    font-weight: bold;
}

.output {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #FFE8D6;
}